<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="executables"
             type="AppOpener.AppsSection, AppOpener"/>
  </configSections>
  <executables>
    <apps>
      <app desktop="5" path="C:\Program Files (x86)\Google\Chrome\Application\chrome.exe" parameters='--incognito'/>
    </apps>
  </executables>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>

</configuration>